body {
  font-family: 'Lato';
}

h1,
h2,
h3,
{
  font-family: 'Catamaran';
  font-weight: 600 !important;
}

h4, 
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 400 !important;
}

.btn-xl {
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 1);
}

.navbar-custom .navbar-brand {
  /*! text-transform: uppercase; */
  font-size: 1.5rem;
  /*! letter-spacing: 0.1rem; */
  font-weight: 300;
  color: #FFCB05;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 65px);
  padding-bottom: 7rem;
  /*background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../img/take6.png');
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 2rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 1rem;
}


@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(8rem + 55px);
    padding-bottom: 7rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 3.5rem;
    color: #FFCB05 !important;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 1.5rem;
    color: #FFCB05 !important;
  }
}

.bg-primary {
  background-color: #ee0979 !important;
}

.btn-primary {
  background-color: #FFCB05;
  border-color: #FFCB05;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #FFCB05 !important;
  border-color: #FFCB05 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}

.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.info {background-color: #194B7;}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 520px;
}

.tg .tg-odj0 {
    font-weight: bold;
    background-color: #FFCB05;
    vertical-align: top;
}

.tg .tg-lqy6 {
    text-align: left;
    vertical-align: top;
    width: 100px;
}

.tg .tg-l2oz {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.tg .tg-9hbo {
    font-weight: bold;
    vertical-align: top;
}

.tg .tg-yw4l {
    vertical-align: top;
}

.tg .tg-xr8r {
    background-color: #ffffc7;
    text-align: left;
    vertical-align: top;
    width: 100px;
}

.tg .tg-kjho {
    background-color: #ffffc7;
    vertical-align: top;
}
